<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <property name="LOG_PATH" value="logs/new-srm-base/" />
    <property name="LOG.PATTERN" value="%clr(%d{yy-MM-dd HH:mm:ss.SSS}){yellow} %clr(%-5level){magenta} %clr([%thread]){cyan} %logger{96}:%L - %msg%n"></property>
    <property name="LOG.FILE.NAME" value="base"></property>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG.PATTERN}</pattern>
        </encoder>
    </appender>

    <!--文件输出的格式设置 -->
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 日志日常打印文件 -->
        <file>${LOG_PATH}${LOG.FILE.NAME}.log</file>
        <!-- 配置日志所生成的目录以及生成文件名的规则:mylog-2017-06-31.0.log.zip -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}${LOG.FILE.NAME}-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <!-- 如果按天来回滚，则最大保存时间为10天，10天之前的都将被清理掉 -->
            <maxHistory>10</maxHistory>
            <!-- 日志总保存量-->
            <totalSizeCap>500MB</totalSizeCap>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!--文件达到 最大时会被压缩和切割 -->
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <!--级别过滤-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <!-- 文件输出的日志 的格式 -->
        <encoder>
            <pattern>${LOG.PATTERN}</pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
        <prudent>false</prudent>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>

    <!--打印sql文件-->
    <logger name="com.zhilink.nsrm.base.module" level="DEBUG" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </logger>


    <logger name="com.zhilink.pf.cp.message" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.zhilink.pf.cp.config" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

</configuration>